langchain
langchain-core
langchain-community
langchain-openai
openai
faiss-cpu
streamlit
python-dotenv
PyPDF2
pdfplumber
pytesseract
pillow
transformers
torch
sentence-transformers
scikit-learn
pandas
numpy
matplotlib
# euriai
